#sign_in_msg {
	color: red;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background-color: #00a950;
  color: #fff;
}

#overlay {
  display:none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  opacity: 0.8;
  z-index: 0;
}

#admin_panel {
  display: none;
  top: 0;
  left: 5%;
  padding: 50px 100px;
  width: 90%;
  max-width: 1200px;
  height: 100%;
  position: fixed;
  background-color: white;
  z-index: 4;
  overflow-y: scroll;
  overflow-x: hidden;
}


.subchart {
    height:250px;
    width:250px;
    float:left;
  }

.chartContainer {
  margin-top: 100px;
  height:500px; 
  width:750px;
  position:relative;
  margin:auto;
}

#cmtMsg {
  display: none;
  color: blue;
}
